## Q1. What is data encoding? How is it useful in data science?

## Answer

### Data encoding plays a crucial role in data science for converting the data from one form to another.

## Data encoding is essential in data science because it helps:
### Transforming data into a suitable format for algorithms.
### Creating new variables that can improve model performance.
### reducing data size withour losing essential information.

##

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

## Answer

## Nominal or ONE HOT ENCODING :
### Converts categorical variables into numerical format. It is specifically for categories that do not have an inherent order. For example, a “color” variable with values “red,” “green,” and “blue” would be encoded as:
#### Red: [1, 0, 0]
#### Green: [0, 1, 0]
#### Blue: [0, 0, 1] This technique is useful for algorithms that require numerical input.

### Example of Nominal Encoding
#### Let’s consider a real-world scenario where you are working on a customer segmentation project for an e-commerce platform. One of the features in your dataset is the “Preferred Payment Method” of customers, which includes categories like “Credit Card,” “Debit Card,” “PayPal,” and “Cash on Delivery.”

In [3]:
import pandas as pd

In [11]:
df = pd.DataFrame({
    "Customer Id" : ["01","02","03","04"],
    "Preferred payment mode" : ["Credit Card", "Debit Card", "PayPal", "Cash on Delivery"]
})

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
encoder = OneHotEncoder()
encoded = encoder.fit_transform(df[["Preferred payment mode"]])

In [28]:
pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

,Preferred payment mode_Cash on Delivery,Preferred payment mode_Credit Card,Preferred payment mode_Debit Card,Preferred payment mode_PayPal
0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0

##

##  Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

## Answer

### Nominal encoding is preferred over one-hot encoding in situations where the number of unique categories is very large.
### Practical Example
#### Let’s consider a real-world scenario in the context of a customer feedback analysis for an online retail store. Suppose you have a feature called “Product Category” with hundreds of unique categories, such as “Electronics,” “Clothing,” “Home Appliances,” etc.
### Using One-Hot Encoding:
#### If you apply one-hot encoding to this feature, you would create hundreds of new binary columns, one for each unique category.
### Using Nominal Encoding:
#### Instead, you can use nominal encoding to assign a unique integer to each category. For example:
#### Electronics: 0
#### Clothing: 1
#### Home Appliances: 2

##

##  Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

## Answer

### I have 2 choices : Either nominal enoding or OHE, But i will use nominal Encoding because using OHE, It'll create a number of binary rows and columns. but using nominal encoding, it'll assign a particular numeric vaule to them which i personally feels so simple and good to save time in interpreting the dataset.

##

##  Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

## Answer

### When using nominal encoding, each categorical column is replaced by a single column with numerical values representing the categories. Therefore, the number of columns remains the same.
###
### Calculation:
#### Original Columns: 5 (2 categorical + 3 numerical)
#### Nominal Encoding: Each categorical column is replaced by 1 numerical column.
### So, the total number of columns after nominal encoding remains 5.

##

##  Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

## Answer

### For a dataset containing information about different types of animals, including their species, habitat, and diet, I would recommend using one-hot encoding for the categorical data. Here’s why:
#### Using techniques like label encoding could inadvertently introduce ordinal relationships, which might mislead the model.
#### The categories like species, habitat, and diet do not have a natural order. One-hot encoding is ideal for such nominal data as it does not impose any ordinal relationship.
#### Many machine learning algorithms, such as linear regression, logistic regression, and neural networks, perform better with one-hot encoded data as it allows them to treat each category independently.

##

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical .data into numerical data? Provide a step-by-step explanation of how you would implement the encoding

## Answer

### I would use one-hot encoding for the categorical features.

In [32]:
## 1st step
from sklearn.preprocessing import OneHotEncoder

In [33]:
## 2nd Step : creating an instance
encoder = OneHotEncoder()

In [ ]:
## 3rd Step
encoded = encoder.fit_transform(df[["gender", "contract_type"]])