## Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

## Answer

### Ordinal Encoding:
#### OrdinalEncoder is used to encode categorical features as ordinal integers based on the order of the categories.
#
### Label Encoding:
#### LabelEncoder is used to encode categorical features as unique integers without considering any order.

#

## Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

## Answer

### Target Guided Ordinal Encoding is a technique used to encode categorical features based on their relationship with a target variable.
### For each category in the categorical feature, calculate the average value of the target variable (e.g., salary, sales, etc.) for that category.
### Assign an ordinal rank to each category based on these average target values.
### Replace the original category labels with their corresponding ranks.
#### Example --------------------------------

Employee Id | City     | Highest Qualification | Salary
--------------------------------------------------------
A100        | Delhi    | Phd                   | 50000
A101        | Delhi    | Bsc                   | 30000
A102        | Mumbai   | Msc                   | 45000
B101        | Pune     | Bsc                   | 25000
B102        | Kolkata  | Phd                   | 48000
C100        | Pune     | Msc                   | 30000
D103        | Kolkata  | Msc                   | 44000

### Calculate the mean salary for each city: Kolkata > Mumbai > Delhi > Pune.
### Assign ranks: Kolkata (4) > Mumbai (3) > Delhi (2) > Pune (1).

Employee Id | City Rank | Highest Qualification | Salary
--------------------------------------------------------
A100        | 2         | Phd                   | 50000
A101        | 2         | Bsc                   | 30000
A102        | 3         | Msc                   | 45000
B101        | 1         | Bsc                   | 25000
B102        | 4         | Phd                   | 48000
C100        | 1         | Msc                   | 30000
D103        | 4         | Msc                   | 44000

##

## Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

## Answer

### Covariance measures the extent to which two variables vary linearly. In other words, it reveals whether two variables move in the same or opposite directions.
### Importance:
#### Covariance helps us understand how two variables are related. It indicates whether they tend to move together or in opposite directions.
#### By studying covariance, we gain insights into the interdependencies between variables, allowing informed interpretations and predictions.
### The sign of the covariance indicates the direction of the relationship:
#### Positive covariance: Variables tend to move in the same direction.
#### Negative covariance: Variables move in opposite directions

##

## Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

## Answer

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Create a sample DataFrame
df = pd.DataFrame({
    'Color': ['red', 'green', 'blue', 'green', 'red'],
    'Size': ['small', 'medium', 'large', 'small', 'medium'],
    'Material': ['wood', 'metal', 'plastic', 'metal', 'wood']
})

In [9]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic
3  green   small    metal
4    red  medium     wood

In [10]:
encoder = LabelEncoder()

In [15]:
df["Color_Encoded"] = encoder.fit_transform(df[["Color"]])
df["Size_Encoded"] = encoder.fit_transform(df[["Size"]])
df["Material_Encoded"] = encoder.fit_transform(df[["Material"]])

C:\Users\theha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\theha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\theha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
df

   Color    Size Material  Color_Encoded  Size_Encoded  Material_Encoded
0    red   small     wood              2             2                 2
1  green  medium    metal              1             1                 0
2   blue   large  plastic              0             0                 1
3  green   small    metal              1             2                 0
4    red  medium     wood              2             1                 2

## Explanation :
### The Mapping is done in alphabetic order on the basis of first letter of the input in column.

##

## Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why ?

## Answer

### Gender:
#### For the “Gender” variable, you can use one hot encoding. This method creates a binary vector for each category (Male and Female). It assigns a 1 to the corresponding category and 0 to others.
#### Example:
#### Male: [1, 0]
#### Female: [0, 1]
#
### Education Level:
#### For the “Education Level” variable, consider using ordinal encoding. Ordinal encoding assigns a unique integer to each category based on their order (e.g., High School = 1, Bachelor’s = 2, Master’s = 3, PhD = 4). 
#### Example:
#### High School: 1
#### Bachelor’s: 2
#### Master’s: 3
#### PhD: 4
#
### Employment Status:
#### For the “Employment Status” variable, you can also use one hot encoding. Since employment status categories (Unemployed, Part-Time, Full-Time) are mutually exclusive, one hot encoding is appropriate.
#### Example:
#### Unemployed: [1, 0, 0]
#### Part-Time: [0, 1, 0]
#### Full-Time: [0, 0, 1]

##

## Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results

## Answer

In [25]:
df = pd.DataFrame({
    "temperature" : [25.5, 24.0, 26.8, 23.2, 27.1, 25.9],
    "Humidity" : [60, 58, 62, 55, 63, 59]
})

In [26]:
df.cov()

             temperature  Humidity
temperature     2.381667      4.25
Humidity        4.250000      8.30

## Temperature and Humidity are positive correlate to each other.

In [27]:
df1 = pd.DataFrame({
    "Weather Condition" : ["sunny","cloudy", "rainy", "sunny","cloudy", "rainy", "sunny","cloudy"],
    "Humidity" : ["North", "South", "East", "West","North", "South", "East", "West"]
})

In [28]:
from sklearn.preprocessing import LabelEncoder

In [34]:
encoder = LabelEncoder()
df2["Weather Condition_encoded"] = encoder.fit_transform(df1[["Weather Condition"]])
df2["Humidity_encoded"] = encoder.fit_transform(df1[["Humidity"]])

C:\Users\theha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\theha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
df2 = pd.DataFrame({
})

In [36]:
df2

   Weather Condition_encoded  Humidity_encoded
0                          2                 1
1                          0                 2
2                          1                 0
3                          2                 3
4                          0                 1
5                          1                 2
6                          2                 0
7                          0                 3

In [37]:
df2.cov()

                           Weather Condition_encoded  Humidity_encoded
Weather Condition_encoded                   0.857143         -0.285714
Humidity_encoded                           -0.285714          1.428571

## From the given dataset we can find that, Humidity and Weather Condition are negatively correlate with each other.